@use "../node_modules/bootstrap/scss/bootstrap" as bs;
@use "variables";
@use "utility";

//Header custom
.title-custom{
    font-size: 2.5rem;
    color: variables.$font-standard;

    @include bs.media-breakpoint-up(lg){
        font-size: 3.5rem;
    }

    &_p{
        color: variables.$font-standard;
        font-size: variables.$font-response;
    }
}

.header_bg{
    background: url(../img/superior.jpg) center/cover;

    @media(min-width: 850px){
        background: url(../img/superior.jpg) center/cover fixed;
    }
}
.btn-custom{
    background-color: variables.$btn-call;
    border-radius: 8px;
    border: none;
    &:hover{
        background-color: variables.$btn-call-hover;
        
    }
}

//about-us
.about-us{
    background: url(../img/fundo-movel.JPEG) center/cover fixed;
    color: variables.$font-standard;
}

//Services
.galeria-scroll {
  scroll-snap-type: x mandatory;

}

.galeria-scroll img {
  width: 180px;
  flex-shrink: 0;
  border-radius: 8px;
  scroll-snap-align: start;
}
.galeria-scroll::-webkit-scrollbar{
    display: none;
}

.shadow-custom{
    box-shadow: 0px 0px 5px #e0b94b;
    border-radius: 5px;
}
.shadow-custom2{
    box-shadow: 0px 0px 5px #e0b94b;
}

.bg-custom-dark{
    background-color: variables.$bg-standard;
}

.flex-custom{
    display: flex;
    justify-content: space-between;
    @media(min-width: 850px){
        justify-content: flex-start;
    }
}
.div-custom{
    display: flex;
    flex-direction: column;
    @media(min-width: 850px){
        flex-direction: row;
        justify-content: space-between;
    }
}
.form-custom{
    width: 75%;
    @media(min-width:850px){
        width: 50%;
    }
}

.dep-custom{
    width: 100%;
    @media(min-width: 850px){
        width: 75%;
    }
}


